@charset "UTF-8";


header { 		/*ヘッダー（To Do List）*/

	height: 70px;
	border-bottom: solid 1px black;
	font-size:　10px;
	
	
}




body {
	
	font-family: 'Caveat', cursive;
	
	}



.List-title {		/*--To Do List--*/
	font-size: 50px;
	margin-top: 20px;
	text-align: center;
	
	font-family: 'Caveat', cursive;
	

	
}





.outer {		/*Doneリスト一覧*/
 	position: relative;
}



.inner {	/*Doneリスト一覧*/
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 25%;
	height: 3.2rem;
	
}




.container {  /*headerボーダーの下全部*/
	overflow: hidden;
}


.box {/*TODOListとCal*/	
	float: left;
	
}



.main-container {	/*入力フォーム*/

	width: 28%;	
	margin-left: 100px;
	margin-top: 50px;
	font-size: 13px;
		
}



 .List-contants {
	
	text-align: left;
	width: 28%;	
	
}





.cal {		/*calendarボタン*/
	
	width: 28%;
}


.hyou{
	border-left: solid 2px black;
	color: black;
	
}

.hyou td{
	border: 0;
}


.ToDo {		/*TODOリスト一覧*/
	font-size: 20px;
	margin: 10px, 50px, 50px, 50px;
	padding-bottom: 40px;
	line-hegiht: 10px;
	
}


.finish {
	border-left: solid  2px black;
	padding-left: 10px;
	
}


.DeadLine {	/*TODO締め切り*/
	font-size: 17px;
	padding-left: ７0px;
	
}




.DeadLine2 {	/*Done締め切り*/
	font-size: 17px;
	
}




.Next-button {	/*ｶﾚﾝﾀﾞｰのボタン　左右*/
	
	margin-left: 120px;
	
}

